config WIFI_SSID
    string "Wi-Fi SSID"
    default "YourSSID"

config WIFI_PASSWORD
    string "Wi-Fi Password"
    default "YourPassword"

config MQTT_HOST
    string "MQTT Broker Host"
    default ""

config MQTT_PORT
    int "MQTT PORT"
    default 1884

config MQTT_USERNAME
    string ""
    default ""

config MQTT_PASSWORD
    string ""
    default ""


config DISPLAY_ON
    bool "Set the display On"
    default n
source "Kconfig.zephyr"